html {
  font-family:'Courier New';
  background: #d1dbbd;
}
body{
  margin: 5%;
}

.mainhead{
color:#225378;
}

.mainhead2{
color:#611427;
}

.mainhead3{

}

.header {
  text-align: center;
  margin-bottom:50px;
}

.pages {
  position:relative;
  display:inline-block;
  padding:20px 50px 0px 50px;
  border-radius: 10px 10px 0 0;
  margin:5px 200px 0px 200px;
  border-color:#374140;
  border-style:solid solid none solid;
  background:#91aa9d;
}

.linkbar {
  border-bottom:3px solid #374140;
  text-align:center;

}

.indexbody {
  text-align:center;
  padding-top:15px;

}


a:hover {
  text-decoration:none;
}

.subheader {
  margin-top:-40px;
  margin-bottom:10px;
}

.displayex {
  width:50%;
  height:auto;
}

.displayhead{
  border:1px solid black;
  font-weight: bold;
}


.footerimg {
  width:30px;
  height:auto;
}

.footerlink {
  position:fixed;
  bottom:10px;
  text-align:center;
  width:87.5%;
}

.footer {

}